<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>GCP Next</title>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
        <link rel="stylesheet" media="screen" href="app.css" />
    </head>
    <body>
    <div class="gcptitle">
        Hello Google Cloud Next Tokyo, Japan!
    </div>
    <div class="gcptime">
        <%= new Date().toLocaleTimeString(); %>
    </div>
  </body>
</html>

